.text-color-1{
    color: #e4cfa8;
}

.border-color-1{
    border: 5px solid #e4cfa8;
}

.text-color-1-dark{
    color: rgb(243, 181, 24);
}

.text-color-2{
    color: #631d04;
}

.btn-color-2{
    background-color: #631d04;
}

.photo-frame{
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/photo-frame.png") no-repeat center center; */
    background-repeat: no-repeat; /* Agar gambar tidak diulang */
    background-position: center;  /* Agar gambar berada di tengah */
    height: 300px;
}

.background-card{
    background: url("https://akad.in/theme/akadin/tradition/1/images/background-card.png") no-repeat center center;
    background-size: cover;
}

/* 0 */
.welcomeMessage {
    background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center;
    background-size: cover;
    height: 665px;
}

/* 1 */
#intro {
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background2.png") no-repeat center center; */
    /* background: url("/assets/img/rssarkies/Royal_building_UMKU.png") no-repeat center center; */
    background-color: #44ACFF;
    background-size: cover;
    height: 665px;
}

/* 2 */
#ayat{
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
}        

#ayat-container {
    background: url("https://akad.in/theme/akadin/tradition/1/images/background-couple.png") no-repeat center center;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 60px;
    /* make rounded */
    border-radius: 20px;
}

/* 3 */
#date_time {
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
    /* height: 1300px; */
}

/* 4 */
#akad-resepsi{
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
    /* height: 1300px; */
}

/* 5 */
#prewed {
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
    /* height: 1300px; */
}

/* 6 */
#live-streaming {
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
    /* height: 1300px; */
}

/* 7 */
#our-story {
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
    /* height: 1300px; */
}

/* 8 */
#ucapan-doa {
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
    /* height: 1300px; */
}

/* 9 */
#gift {
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
    /* height: 1300px; */
}

/* 10 */
#special-thanks {
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
    /* height: 1300px; */
}


/* 11 */
#footer {
    /* background: url("https://akad.in/theme/akadin/tradition/1/images/background.png") no-repeat center center; */
    background-color: #3188F4;
    background-size: cover;
    /* height: 1300px; */
}

/* copyright akad.in */